# Python
.venv/
__pycache__/
*.pyc
.env
.env.local

# Ansible
.vault_pass
*.retry
.ansible/
collections/
*.log
group_vars/*/vault
group_vars/*/vault.yml
host_vars/*/vault
host_vars/*/vault.yml

# uv
uv.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# backups
*~
*.bak
*.BAK
*.orig

